<nz-card nzTitle="About Us">
  <div nz-row class="about-heading">
    <div nz-col nzSpan="24">
      <h1>About Box</h1>
      <p>
        Transfering the way people and organization work so they can achieve
        their greatest ambitions
      </p>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="8">
      <div nz-row>
        <img
          src="../assets/images/team1.jpg"
          class="imgProfile"
          alt="Profile"
        />
      </div>
      <div nz-row>
        <div class="team-info">
          <h2>Mike Ross</h2>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p>
            <button nz-button [nzSize]="size" nzType="primary">Contact</button>
          </p>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="8">
      <div nz-row>
        <img
          src="../assets/images/team2.jpg"
          class="imgProfile"
          alt="Profile"
        />
      </div>
      <div nz-row>
        <div class="team-info">
          <h2>John Doe</h2>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p>
            <button nz-button [nzSize]="size" nzType="primary">Contact</button>
          </p>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="8">
      <div nz-row>
        <img
          src="../assets/images/team3.jpg"
          class="imgProfile"
          alt="Profile"
        />
      </div>
      <div nz-row>
        <div class="team-info">
          <h2>Jane Doe</h2>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p>
            <button nz-button [nzSize]="size" nzType="primary">Contact</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</nz-card>
