<nz-card style="width: 300px" nzTitle="User" [nzExtra]="extraTemplate">
  <form
    nz-form
    [formGroup]="loginForm"
    class="login-form"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your user id!">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="userId"
            placeholder="User Id"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <button
      nz-button
      class="login-form-button login-form-margin"
      [nzType]="'primary'"
    >
      Log in
    </button>
  </form>
</nz-card>

<ng-template #extraTemplate>
  <button nz-button nzType="primary" (click)="moveBack()">
    <i nz-icon nzType="left"></i>Back
  </button>
</ng-template>
