<nz-card nzTitle="My Galary">
  <div nz-row>
    <div nz-col nzSpan="8">
      <img src="../assets/images/img3.jpg" class="imgProfile" alt="Profile" />
    </div>
    <div nz-col nzSpan="8">
      <img src="../assets/images/img4.jpg" class="imgProfile" alt="Profile" />
    </div>
    <div nz-col nzSpan="8">
      <img src="../assets/images/img5.jpg" class="imgProfile" alt="Profile" />
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="6">
      <img src="../assets/images/img6.jpg" class="imgProfile" alt="Profile" />
    </div>
    <div nz-col nzSpan="6">
      <img src="../assets/images/img7.jpg" class="imgProfile" alt="Profile" />
    </div>
    <div nz-col nzSpan="6">
      <img src="../assets/images/img4.jpg" class="imgProfile" alt="Profile" />
    </div>
    <div nz-col nzSpan="6">
      <img src="../assets/images/img6.jpg" class="imgProfile" alt="Profile" />
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12">
      <img src="../assets/images/img1.jpg" class="imgProfile" alt="Profile" />
    </div>
    <div nz-col nzSpan="12">
      <img src="../assets/images/img2.jpg" class="imgProfile" alt="Profile" />
    </div>
  </div>
</nz-card>
