<nz-layout>
  <nz-header>
    <div class="topnav" id="myTopnav">
      <a href="javascript:void(0);" *ngIf="!isLoggedIn" (click)="moveLogin()"
        >Login</a
      >
      <a href="javascript:void(0);" *ngIf="isLoggedIn" (click)="logout()"
        >Logout</a
      >
      <a href="javascript:void(0);" *ngIf="isLoggedIn" class="user-name">{{
        this.userInfo.username
      }}</a>
      <a href="javascript:void(0);" routerLink="about-us">About Us</a>
      <a href="javascript:void(0);" *ngIf="isLoggedIn" routerLink="galary"
        >Galary</a
      >
      <a href="javascript:void(0);" routerLink="">Home</a>
      <a href="javascript:void(0);" class="icon" (click)="openDrawer()">
        <i nz-icon nzType="bars" nzTheme="outline"></i>
      </a>
    </div>
  </nz-header>
  <nz-content><router-outlet></router-outlet></nz-content>

  <nz-footer>Footer</nz-footer>
</nz-layout>
